# Fisiere și directoare de build
bin/
mainApp.Server/bin/
obj/
mainApp.Server/obj/
# Director generat de Visual Studio
.vs/

# Fișierele temporare și cache-uri
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user
*.dbmdl
*.cache
*.pdb
node_modules
*.ipch
*.tlog
*.log
*.lastcodeanalysissucceeded

# Fișiere generate pentru MSBuild
*.cache/
*.Build.*
# Fișiere temporare și de configurare
*.csproj.user
*.csproj.dotSettings
*.csproj.vspscc

# Fișiere Roslyn (analizator de cod)
*.editorconfig

# Fișierele locale de configurare
appsettings.Development.json
appsettings.*.json
node_modules
